        body {
         background-color: #595959;
         text-align: center;
        }
        .header {
         background-image: url("header.png");
         background-repeat: no-repeat;
         background-position: center top;
         background-color: #383838;
        }
        .body {
         background-color: #323232;
         padding: 0.25rem 2rem;
        }
        .title {
         padding-top: 1.25rem;
        }
        .button {
          background-color: #dba212;
          display: inline-block;
          cursor: pointer;
          border: 1px solid #665528;
          width: 220px;
          margin-top: 5px;
        }
        .button:hover {
          background-color: #b58f2d;
        }
        h1 {
         color: #f0c454;
        }
        h2, h3 {
         color: #b98c18;
        }
        .game{
         height:630px;width:1010px;
        }
        .changeOrientation{
         display:none;
        }
        @media only screen and (max-width: 600px) {
         .game{
          display:none;
         }
         .changeOrientation{
          display: block;
          background-color: #000000;
          padding-top: 20vh;
          padding-bottom: 20vh;
          text-color: #ffffff;
         }
         .button {
          width: 140px;
         }
        }
        @media only screen and (min-width: 600px) {
         .mobileOnly{
          display:none;
         }
         .header{
          min-width: 1070px;
         }
         .body{
          min-width: 1010px;
         }
        }